body{
    background-image: url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHVycGxlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.container{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 10px;
    border-radius: 10px;
   
  
}

input{
height: 30px;
width: 400px;
padding: 10px;
font-size: 15px;
border-radius: 5px;

}

button{
    height: 30px;
    width:120px ;
    background-color:black;
    color: white;
    border: none;
    font-size: 20px;
}